# PYTHON CACHE
*.pyc
*.pyo
*.csv

# IDE FOLDERS
.vscode
.vs

# PATHS
.data
PATHS.json
CONFIGURATION.json
warm_start

# TF MODEL DATA
**/checkpoint
**/*.index
**/*.meta
**/*.pb
**/*.pbtxt
**/*.data-*
**/*.tfevents.*